#USE FOR DarkChess INITIAL SETTING
#Fri Jan 09 01:04:38 CST 2026
Account=L_StochasticMuZero
Arg=/home/ntcucsk201/DarkChess/LightZero/zoo/board_games/darkchess/mgtp.py -model_path /home/ntcucsk201/DarkChess/LightZero/zoo/board_games/darkchess/data_muzero/darkchess_muzero_ns1000_upc50_rer0.0_bs512_251016/ckpt/iteration_2950.pth.tar
BoardPath=
Bonus=0.0
BonusLimit=0.0
ChangeFirstMove=YES
ConnectMode=MGTP
DrawScore=0.5
FirstMove=NO
IP=120.126.151.213
LocalServer=true
LongCatch=3
LoseScore=0.0
MidBoard=NO
NoEatFlip=120
OnePlyTime=0
OpeningMode=SEQUENTIAL
Password=123
PieceScore=0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PlyShare=0
RepeatTime=100
RoomType=GENERAL
SearchPath=/home/ntcucsk201/anaconda3/envs/darkchess/bin/python
StartMode=ENTER
TimeLimit=0
TimePerOpening=2
TimerMode=NONE
WinScore=1.0
