#USE FOR DarkChess INITIAL SETTING
#Wed Oct 15 23:49:32 CST 2025
Account=L_StochasticMuZero
Arg=/home/ntcucsk201/DarkChess/LightZero/zoo/board_games/darkchess/mgtp.py -model_path /home/ntcucsk201/DarkChess/LightZero/data_stochastic_mz/darkchess_stochastic_muzero_ns1000_upc50_rer0_bs512/ckpt/ckpt_best.pth.tar -env_cfg /zoo/board_games/darkchess/envs/darkchess_env.py -mode console
BoardPath=
Bonus=0.0
BonusLimit=0.0
ChangeFirstMove=YES
ConnectMode=MGTP
DrawScore=0.5
FirstMove=NO
IP=120.126.151.213
LocalServer=true
LongCatch=3
LoseScore=0.0
MidBoard=NO
NoEatFlip=120
OnePlyTime=0
OpeningMode=SEQUENTIAL
Password=123
PieceScore=0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PlyShare=0
RepeatTime=100
RoomType=GENERAL
SearchPath=/home/ntcucsk201/anaconda3/envs/darkchess/bin/python
StartMode=ENTER
TimeLimit=0
TimePerOpening=2
TimerMode=NONE
WinScore=1.0
