#USE FOR ROOM INITIAL SETTING
#Wed Feb 25 11:46:57 CST 2026
BoardDisconnectAutoRestart=NO
BoardOpenType=CLOSE
CleanLastDebug=NO
ContestAutoReady=YES
DebugBGColor=-16777216
DebugFontColor=-1
DebugFontSize=16
FinishGameCloseHTML=NO
PopWindowHeight=-1
PopWindowLocaleX=-1
PopWindowLocaleY=-1
PopWindowWidth=-1
RepeatGameDelay=5
ScrollAuto=AUTO
SplitWeight=0.65
TimeCountDown=YES
