#USE FOR DarkChess INITIAL SETTING
#Thu Nov 14 20:44:01 CST 2024
TimePerOpening=2
Account=a0
StartMode=OPEN
RepeatTime=50
DrawScore=0.5
BonusLimit=0.0
NoEatFlip=120
OpeningMode=SEQUENTIAL
RoomType=GENERAL
PieceScore=0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FirstMove=NO
TimeLimit=900
Password=123
WinScore=1.0
LocalServer=true
LoseScore=0.0
ConnectMode=MGTP
IP=120.126.151.213
Bonus=0.0
ChangeFirstMove=YES
TimerMode=ABSOLUTE
OnePlyTime=0
Arg=
BoardPath=
PlyShare=0
SearchPath=/workspace/MGTP/myai
MidBoard=NO
LongCatch=3
