#USE FOR DarkChess INITIAL SETTING
#Wed Oct 15 23:49:39 CST 2025
Account=Random
Arg=
BoardPath=
Bonus=0.0
BonusLimit=0.0
ChangeFirstMove=YES
ConnectMode=MGTP
DrawScore=0.5
FirstMove=NO
IP=120.126.151.213
LocalServer=true
LongCatch=3
LoseScore=0.0
MidBoard=NO
NoEatFlip=120
OnePlyTime=0
OpeningMode=SEQUENTIAL
Password=123
PieceScore=0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PlyShare=0
RepeatTime=100
RoomType=GENERAL
SearchPath=/home/ntcucsk201/DarkChess/LightZero/MGTP/myai
StartMode=OPEN
TimeLimit=900
TimePerOpening=2
TimerMode=ABSOLUTE
WinScore=1.0
